@import "material.css";
//partial resets
h1,h2,h3,h4,h5{
	margin: 0;
	padding: 0;
}

//mdl overrides
.mdl-cell--centered{
	margin: 0 auto;
}

.mdl-layout{
	height: 100vh;
}

.mdl-layout--row{
	flex-direction: row;
}

.mdl-textfield__error{
	visibility: visible;
}

//app styles
.login-form-media{
	flex-grow: 1;
	min-height: 150px;
	align-items: flex-end;
	display: flex;
	padding: 5%;
	background-image: url("../images/card-background-field.png");
}

.navigation-list{
	color: white;
	list-style: none;
}

.note-page{
	max-width: 800px;
	margin: 0 auto;
}

.note-card{
	margin-bottom: 40px;
}

.note-card__title{
	margin: 10px 0;
}

.note-card__date-author-block{
	text-align: right;
}
