@import "material.css";
@import "fonts.css";

//partial resets
h1,h2,h3,h4,h5{
	margin: 0;
	padding: 0;
}

//mdl overrides
.mdl-cell--centered{
	margin: 0 auto;
}

.mdl-card__actions--right-aligned{
	text-align: right;
}

.mdl-card__actions--two-actions{
	display: flex;
	justify-content: space-between;
}

.mdl-layout{
	height: 100vh;
}

.mdl-layout--row{
	flex-direction: row;
}

.mdl-textfield__error{
	visibility: visible;
}

//app styles
.login-form-media{
	flex-grow: 1;
	min-height: 150px;
	align-items: flex-end;
	display: flex;
	padding: 5%;
	background-image: url("../images/card-background-field.png");
}

.navigation-list{
	color: white;
	list-style: none;
}

.note-page{
	max-width: 800px;
	margin: 0 auto;
}

.note-page__add-new{
	position: fixed;
	right: 50px;
	bottom: 50px;
}

.note-card{
	margin-bottom: 40px;
}

.note-card__title{
	margin: 10px 0;
}

.note-card__date-author-block{
	text-align: right;
}

.modal{
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	background: rgba(0,0,0,.3);
	z-index: 900;
}
