@import "material.css";
//partial resets
h1,h2,h3,h4,h5{
	margin: 0;
	padding: 0;
}

//mdl overrides
.mdl-cell--centered{
	margin: 0 auto;
}

.mdl-layout{
	height: 100vh;
}

.mdl-layout--row{
	flex-direction: row;
}

//app styles
.login-form-media{
	flex-grow: 1;
	min-height: 150px;
	align-items: flex-end;
	display: flex;
	padding: 5%;
	background-image: url("../images/card-background-field.png");
}
